<button
  id="back-to-top"
  class="group fixed right-2 bottom-16 z-50 flex h-12 w-12 cursor-pointer flex-row items-center justify-center overflow-hidden rounded-full bg-white/20 backdrop-blur-md shadow-xl border border-gray-200/80"
  aria-label="Back to top"
>
  <svg viewBox="0 0 384 512" class="absolute h-5 w-5">
    <path
      fill="#01FF06"
      d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
    ></path>
  </svg>
</button>

<script>
  const toggleVisibility = () => {
    const button = document.getElementById("back-to-top");
    if (!button) return;
    if (window.scrollY > 300) {
      button.classList.remove("opacity-0");
      button.classList.add("opacity-100");
    } else {
      button.classList.remove("opacity-100");
      button.classList.add("opacity-0");
    }
  };

  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };

  window.addEventListener("scroll", toggleVisibility);

  const button = document.getElementById("back-to-top");
  button?.addEventListener("click", scrollToTop);
</script>
